@import url("Global.css");

#addCpciCardContainer{
	 -fx-background-color:form-bg;
}
#headerLabel{
	 -fx-font-size: 24.0px;
	  -fx-font-weight: bold;
}

.label {
   -fx-font-size: 16.0px;
    -fx-font-weight: bold;
    -fx-text-fill:form-label;
}
.text-field {
	 -fx-font-size: 16.0px;
	 -fx-font-weight: bold;
    -fx-background-color: form-input; 
    -fx-border-width: 1.0px; 
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px;
    -fx-pref-width: 300.0px;
}
.custom-checkbox {
  -fx-text-fill:form-label;
	-fx-font-size: 16.0px; 
	-fx-cursor:hand;
	 -fx-padding: 5.0px;
}

.combo-box {
    -fx-font-size: 16.0px;
    -fx-background-color: form-label; 
    -fx-border-width: 1.0px; 
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px;
}

.button {
	-fx-min-width: 150px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
    -fx-border-color: transparent; 
    -fx-cursor:hand;
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
    -fx-border-color: button-bg; 
}
