@import url("Global.css");

.advanced-testing-container{
	-fx-background-color: light-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}
.advanced-testing-title{
	-fx-font-size:30px;
	-fx-font-weight:bold;
	-fx-text-fill:heading-text-color;
}
.advanced-testing-tabs-container{
	-fx-background-color: dark-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding : 10px;
}
.advanced-testing-result-container{
	-fx-background-color: dark-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}





.tab {
    -fx-background-insets: 0 2 0 2,0,0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}
.tab-pane .tab {
    -fx-background-color: light-bg;
    -fx-text-fill: secondary-text-color;
    -fx-padding: 0; 
    -fx-pref-height: 40px; 
    -fx-border-color: transparent; 
}
.tab-pane .tab-label {
    -fx-font-size: 17px;
    -fx-font-weight:bold;
    -fx-text-fill: secondary-text-color;
    -fx-alignment: center; 
}
.tab-pane .tab:selected {
    -fx-background-color: secondary-text-color;
    -fx-border-color: transparent; 
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill:light-bg;
}
.tab-pane .tab-content {
    -fx-background-color:light-bg;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane {
    -fx-tab-min-width: 200px;
}

.tab-content-container{
	-fx-background-color: white;
	-fx-padding:5px;
}



.advanced-testing-left-container{
	-fx-background-color: dark-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.radio-button-style {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


.advanced-testing-right-container{
	-fx-background-color: dark-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding : 10px;
}

.advanced-testing-list-view{
	-fx-border-color: transparent;
	-fx-border-width: 0; 
}

.advanced-testing-list-view .list-cell {
	-fx-border-color: transparent;
    -fx-background-color: light-bg;
    -fx-padding: 4px;
    -fx-border-color: transparent; 
    -fx-border-width: 0px; 
}
.advanced-testing-list-view .list-cell:selected {
    -fx-background-color: #0078d4; 
    -fx-text-fill: white;
}

.advanced-testing-checkbox {
    -fx-text-fill: secondary-text-color; 
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

.select-all-checkbox{
	-fx-text-fill: primary-text-color; 
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

.advanced-testing-checkbox:selected .box {
    -fx-background-color: #2ecc71; 
}

.advanced-testing-checkbox:selected .mark {
    -fx-background-color: #ffffff;
}

.advanced-testing-repeat-count-label{
    -fx-text-fill: primary-text-color; 
    -fx-font-size:16px;
    -fx-font-weight:bold;
}
.advanced-testing-repeat-count-input{
	-fx-max-width:100px;
    -fx-font-size:16px;
    -fx-font-weight:bold;
}

.button {
	-fx-min-width:90px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;
    -fx-border-color: transparent; 
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
    -fx-border-color: button-bg; 
}


.button-image{
	 -fx-effect: innershadow(gaussian, button-text, 10, 1.0, 0, 0);
}
.button:hover .button-image{
 	-fx-effect: innershadow(gaussian, button-bg, 10, 1.0, 0, 0);
}


