@import url("Global.css");

#aitessMacroPopupMainContainer{
	 -fx-background-color:dark-bg;
}

#headerLabel{
    -fx-text-fill:heading-text-color; 
    -fx-font-size: 24.0px;
	-fx-font-weight: bold;
}

.label {
   -fx-font-size: 16.0px;
    -fx-text-fill:primary-color;
}

.button {
	-fx-min-width:90px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;
    -fx-border-color: transparent; 
	-fx-cursor:hand;
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
    -fx-border-color: button-bg; 
}