@import url("Global.css");

#aitessSymbolPopupMainContainer{
	 -fx-background-color:form-bg;
}

#headerLabel{
    -fx-text-fill:form-title; 
    -fx-font-size: 24.0px;
	-fx-font-weight: bold;
}

.label {
   -fx-font-size: 16.0px;
    -fx-text-fill:form-label;
}

.symbol-table .table-cell {
    -fx-font-size: 12px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.symbol-table .column-header .label {
    -fx-font-size: 14px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-text-fill:secondary-text-color; 
}

.button {
	-fx-min-width:90px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;
    -fx-border-color: transparent; 
	-fx-cursor:hand;
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
}


