#aitessSymbolPopupMainContainer{
	 -fx-background-color:#222831;
}

#headerLabel{
    -fx-text-fill:#FFFFFF; 
    -fx-font-size: 24.0px;
	-fx-font-weight: bold;
}

.label {
   -fx-font-size: 16.0px;
    -fx-text-fill:black;
}
.button {
    -fx-background-color: #77ABAE ; 
    -fx-text-fill:#FFFFFF; 
    -fx-font-size: 16.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px; 
}
.button:hover {
	-fx-text-fill:#77ABAE; 
    -fx-background-color:#FFFFFF; 
    -fx-border-color: white; 
}