@import url("Global.css");

#aitessSymbolPopupMainContainer{
	 -fx-background-color:dark-bg;
}

#headerLabel{
    -fx-text-fill:form-title; 
    -fx-font-size: 24.0px;
	-fx-font-weight: bold;
}

.label {
   -fx-font-size: 16.0px;
    -fx-text-fill:form-label;
}


.button {
	-fx-min-width:150px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
}