@import url("Global.css");

#checkSumMainContainer{
	-fx-background-color: form-bg;
}
.check-sum-title{
	-fx-text-fill : form-title;
	-fx-font-size : 18px;
	-fx-font-weight : 700;
	-fx-padding:3px 0;
}
.check-sum-table .table-cell {
    -fx-font-size: 12px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.check-sum-table .column-header .label {
    -fx-font-size: 14px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.button {
	-fx-min-width:150px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
}