#checkSumMainContainer{
	-fx-background-color: #31363F;
}
.check-sum-title{
	-fx-text-fill : #FFFFFF;
	-fx-font-size : 18px;
	-fx-font-weight : 700;
	-fx-padding:3px 0;
}
.check-sum-table .table-cell {
    -fx-font-size: 12px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.check-sum-table .column-header .label {
    -fx-font-size: 14px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.button {
    -fx-background-color: #77ABAE ; 
    -fx-text-fill:#FFFFFF; 
    -fx-font-size: 16.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px; 
}
.button:hover {
	-fx-text-fill:#77ABAE; 
    -fx-background-color:#FFFFFF; 
    -fx-border-color: white; 
}