*{
	primary-color: #222831;
	secondary-color: #31363F;
	
	primary-text-color: #FFFFFF;
	secondary-text-color: #0F1728;
	sub-text-color: #444852;
		
	heading-text-color: #0F1728;
	
	header-bg: #FFFFFF;
	
	light-bg: #FFFFFF;
	dark-bg: #222831;
	
	button-bg: #77ABAE;
	button-text:#FFFFFF;
	
	login-button-bg: #FFFFFF;
	login-button-text: #EE0E00;
	
	
	selected-menu-bg: #FFFFFF;
	selected-menu-text: #0F1728;
	hover-menu-bg: #909398;
	hover-menu-text:#0F1728;
	
	right-card-bg: #FFFFFF;
	right-card-text: #0F1728;
	
	right-card-button-bg:#FFFFFF;
	right-card-button-text:#0F1728;
	
	form-bg: #31363F;
	form-label: #FFFFFF;
	form-title: #FFFFFF;
	form-input: #FFFFFF;

}