* {
    primary-color: #00B0F5;
    secondary-color: #0091C2;
    
    secondary-color-2: #00E0FF;
    complementary-color: #F54B00;
    
    primary-text-color: #FFFFFF;
    secondary-text-color: #0F1728;
    sub-text-color: #444852;
    
    heading-text-color: #0F1728;
    header-bg: #FFFFFF;
    
    light-bg: #FFFFFF;
    dark-bg: #0091C2;
    
    button-bg: #005C7A;
    button-text: #FFFFFF;
    login-button-bg: #FFFFFF;
    login-button-text: #EE0E00;
    selected-menu-bg: #E0F7FF;
    selected-menu-text: #0F1728;
    hover-menu-bg: #B3E6FF;
    hover-menu-text: #0F1728;
    right-card-bg: #FFFFFF;
    right-card-text: #0F1728;
    right-card-button-bg: #FFFFFF;
    right-card-button-text: #0F1728;
    
    form-bg: #0F1728;
    form-label: #FFFFFF;
    form-title: #FFFFFF;
    form-input: #FFFFFF;
    
    table-bg: #005c7a;
    table-header-bg: #0073a5;
    table-row-bg:#00a3d4;
    
    success-bg: green;
    failure-bg: red;
    default-bg: #005C7A;
    
    
}