.ofpTestFiles-parent-container{
	-fx-background-color:white;
	-fx-background-radius:15px;
}
.ofpTestFiles-headerLabel{
	-fx-text-fill:#003360;
	-fx-font-size: 30.0px;
	-fx-font-weight: bold;
}
.ofpTestFiles-container{
	-fx-background-color: #222831;
	-fx-background-radius: 10px;
}


.button {
    -fx-background-color: #77ABAE ;
    -fx-text-fill:#FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.button:hover {
	-fx-text-fill:#77ABAE; 
    -fx-background-color:#FFFFFF; 
    -fx-border-color: white; 
}