@import url("Global.css");

#rdfFileCopyMainContainer {
	-fx-background-color: form-bg;
}
.title {
	-fx-text-fill: form-title;
	-fx-font-size: 18px;
	-fx-font-weight: 700;
	-fx-padding: 3px 0;
}

.rdf-file-table .table-cell {
    -fx-font-size: 12px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.rdf-file-table .column-header .label {
    -fx-font-size: 14px; 
    -fx-font-weight: bold;
    -fx-padding: 2px;
}

.rdf-file-path-label{
	-fx-text-fill : form-title;
	-fx-font-size : 16px;
	-fx-font-weight : 700;
	-fx-padding:3px 0;
}

.button {
	-fx-min-width:90px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;
    -fx-border-color: transparent; 
	-fx-cursor:hand;
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:button-text; 
}