@import url("Global.css");

.session-testing-container{
	-fx-background-color: secondary-color;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.session-testing-title{
	-fx-font-size:30px;
	-fx-font-weight:bold;
	-fx-text-fill:heading-text-color;
}
.session-testing-left-container{
	-fx-background-color: session-test-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding : 10px;
}
.l1_stage-label{
	-fx-padding: 3px 15px;
    -fx-background-radius: 10px;
    -fx-text-fill: secondary-text-color;
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

.tree-view {
    -fx-background-color: session-test-bg ;
    -fx-background-radius: 10px;
	-fx-border-radius: 10px;
}
.tree-cell {
    -fx-background-color: session-test-bg ;
    -fx-text-fill: secondary-text-color ;
    -fx-background-radius: 10px;
	-fx-border-radius: 10px;
}
.tree-cell:hover {
    -fx-background-color: selected-menu-bg;
}
.tree-cell:hover .l1_stage-label{
     -fx-text-fill: hover-menu-text ;
}
.tree-cell > .tree-disclosure-node {
    -fx-padding :13px 10px 0 15px;
}
.tree-cell > .arrow {
    -fx-padding :13px 10px 0 20px;
}
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: secondary-text-color;
    -fx-scale-x: 1.8; 
    -fx-scale-y: 1.8; 
    -fx-cursor: hand;
}
.tree-cell:hover > .tree-disclosure-node > .arrow {
    -fx-background-color: secondary-text-color;
    -fx-scale-x: 1.8;
    -fx-scale-y: 1.8;
}
.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: secondary-text-color;
    -fx-scale-x: 1.8;
    -fx-scale-y: 1.8;
}

.tree-cell:selected {
    -fx-background-color:selected-menu-bg;
}
.tree-cell:selected .l1_stage-label {
    -fx-text-fill: heading-text-color;
}
.completed{
	 -fx-background-color: green;
}

.completedwithfailure{
	-fx-background-color: red;
}
.partial{	
	 -fx-background-color: primary-color1;	
}
.pending{
	 -fx-background-color: light-bg;	
}


.session-testing-right-container{
	-fx-background-color: secondary-color;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-padding : 10px 5px;
	-fx-border-color:border2-color;
}


.session-testing-right-button-container{
	-fx-background-color: primary-color;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	
	-fx-border-color:border2-color;
	
}

.session-testing-right-text-field{
	-fx-background-color: session-test-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-color:border2-color;
	-fx-font-weight:bold;
}


.textfieldbox {
    -fx-background-color: transparent;   
    -fx-border-color: transparent;       
    -fx-pref-width: 400px;               
    -fx-font-size: 14px;                
}

.session-testing-list-view{
	-fx-border-color: transparent;
	 -fx-background-color: transparent;  
}

.session-testing-list-view .list-cell {
	-fx-border-color: transparent;
    -fx-background-color:  transparent;
    -fx-padding: 4px;
    -fx-border-color: transparent; 
    -fx-border-width: 0px; 
}
.session-testing-list-view .list-cell:selected {
    -fx-background-color: #000000; 
    -fx-text-fill: white;
}

.session-testing-checkbox {
    -fx-text-fill: secondary-text-color; 
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

.select-all-checkbox{
	-fx-text-fill: primary-text-color; 
    -fx-font-size:18px;
    -fx-font-weight:bold;
     
}
.session-testing-checkbox .box {
    -fx-background-color: light-bg;
    -fx-border-color:border2-color; 
}

.session-testing-checkbox:selected .box {
    -fx-background-color:  select-checkbox; 
}

.session-testing-checkbox:selected .mark {
    -fx-background-color: check-box-mark;
}

.session-testing-repeat-count-label{
    -fx-text-fill: secondary-text-color; 
    -fx-font-size:16px;
    -fx-font-weight:bold;
}
.session-testing-repeat-count-input{
	-fx-max-width:100px;
    -fx-font-size:16px;
    -fx-font-weight:bold;
}

.session-testing-repeat-count-label-info{
	-fx-text-fill: secondary-text-color; 
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

.button {
	-fx-min-width:110px;
    -fx-background-color: button-bg ; 
    -fx-text-fill:button-text; 
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px;
    -fx-border-color: border2-color; 
	-fx-cursor:hand;
	-fx-pref-height: 35px;
}
.button:hover {
	-fx-text-fill:button-bg; 
    -fx-background-color:selected-menu-bg; 
    -fx-border-color: button-bg; 
}
.button:selected{
	-fx-background-color:selected-menu-bg;
}



.button-image{
	 -fx-effect: innershadow(gaussian, button-text, 10, 1.0, 0, 0);
}
.button:hover .button-image{
 	-fx-effect: innershadow(gaussian, button-bg, 10, 1.0, 0, 0);
}


.session-testing-result-container{
	-fx-background-color: dark-bg;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}


.progress-bar {
	-fx-min-width: 350px;
}
.progress-label{
    -fx-text-fill: secondary-text-color ;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.repeat-count-vbox{
	
	
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}


