

.combo-box {
    -fx-font-size: 17px;
    -fx-font-weight: 600;
     -fx-background-color: transparent; /* Background color */
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 10px; /* Border radius */
  
}

.combo-box .list-view {
	 -fx-background-radius: 10px;
    -fx-pref-width: 200px; /* Set the maximum width of the dropdown list */
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 10px; /* Border radius */
}


.check-box-tree-cell .tree-disclosure-node {
	-fx-font-size: 16px;
    -fx-padding: 5 5 0 0.333em;
      
   
}
.check-box-tree-cell  {
	-fx-font-size: 16px;
}
#session_stage_treeView{
	 -fx-background-color: transparent; /* Background color */
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 10px; /* Border radius */
}
#sessionPage {
	-fx-background-color: linear-gradient(to right, rgba(155, 182, 182, 1)
		4%, rgba(147, 228, 237, 1) 85%);
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	
}
#session_header {
	 -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill:black;
	}

.label {
   -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-text-fill:black;
}
.text-field {
	-fx-font-size: 18px;
	 -fx-font-weight: 600;
    -fx-background-color: transparent; /* Background color */
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 10px; /* Border radius */
   
}
.text-field:focused {
    -fx-border-color: dodgerblue; /* Border color when focused */
}

/* Define styling for prompt text in text fields */
.text-field .text {
    -fx-fill: gray; /* Prompt text color */
}
.text-area {
  
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 10px; /* Border radius */
     -fx-background-radius: 10px; /* Border radius */
    -fx-font-size: 18px; /* Font size */
    -fx-text-fill:black;
}
.button {
    -fx-background-color:  rgba(147, 228, 237, 1) ; /* Green background */
    -fx-text-fill: black; 
    -fx-font-size: 18px; /* Font size */
    -fx-font-weight: bold;
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; /* Border radius */
}

.button:hover {
    -fx-background-color:rgba(155, 182, 182, 1); /* Darker green background on hover */
    -fx-border-color: white; /* Darker border color on hover */
}
