.stageConfig-main-container{
	-fx-background-color: #FFFFFF;
	-fx-background-radius:15px;
}
.stageConfig-header-label{
	-fx-text-fill:#003360;
	-fx-font-size: 30.0px;
	-fx-font-weight: bold;
}
.stageConfig-container{
	-fx-background-color: #222831;
	-fx-background-radius: 10.0px; 
	
}
.stageConfig-bottom-view-container{
	-fx-background-color: #31363F;
	-fx-background-radius: 10.0px;
}
.stageConfig-bottom-view-container-list{
	-fx-background-color: #31363F;
}

.stageConfig-comboBox-label{
	-fx-text-fill:#FFFFFF;
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;	
}

.session-stage-l1-label {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 20.0px;
	-fx-font-weight:bold;
}
.session-type-label {
	-fx-text-fill: black;
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 20.0px;
    -fx-font-size: 14.0px;
	-fx-font-weight:normal;
}
.stage-label {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 20.0px;
}
.label_field{
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 16.0px;
	-fx-background-color: red; 
	-fx-background-radius: 20.0px;
	-fx-font-weight:normal;
}
.list-view {
   -fx-background-color: transparent;
}
.list-cell {
    -fx-font-size: 16px;
   	-fx-font-weight:bold;
}
.list-cell:hover {
    -fx-background-color: #909398; 
}
.list-cel:selected{
	 -fx-background-color: #31363F; 
}
.tree-view{
	-fx-background-color:#31363F ; 
}
.tree-cell{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #31363F; 
}
.tree-cell:hover{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #D3D3D3; 
}
.tree-cell:selected{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #909398; 
}
.tree-cell > .tree-disclosure-node  {
	-fx-font-weight:bold;
	}

.test-mapping-textArea{
	 -fx-font-size: 18.0px;
    -fx-background-color: #FFFFFF; 
    -fx-border-width: 1.0px; 
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px;
    -fx-pref-height: 300.0px;
}

.text-field {
	 -fx-font-size: 18.0px;
	 -fx-font-weight: bold;
    -fx-background-color: #FFFFFF; 
    -fx-border-width: 1.0px; 
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px;
    -fx-pref-width: 300.0px;
}

.combo-box {
    -fx-font-size: 18.0px;
    -fx-background-color: #FFFFFF; 
    -fx-border-width: 1.0px; 
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px;
    -fx-pref-width: 200.0px;
}

.combo-box .list-view {
    -fx-pref-width: 170.0px;
}

.button {
    -fx-background-color: #77ABAE ; 
    -fx-text-fill:#FFFFFF; 
    -fx-font-size: 18.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 10.0px; 
    -fx-background-radius: 10.0px; 
}
.button:hover {
	-fx-text-fill:#77ABAE; 
    -fx-background-color:#FFFFFF; 
    -fx-border-color: white; 
}



