.test-file-container{
	-fx-background-color:#FFFFFF;
	-fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.test-file-title{
	-fx-font-size:30px;
	-fx-font-weight:bold;
	-fx-text-fill:#003360;
}
.test-file-upload-btn{
	-fx-min-width:100px;
	-fx-background-color: #003360;
	-fx-text-fill: #FFFFFF;
	-fx-font-size:16px;
	-fx-font-weight:bold;
	-fx-padding:10px;
	-fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor:hand;
}

.test-file-option-container{
	-fx-background-color:#003360;
	-fx-background-radius: 15px;
    -fx-border-radius: 15px;
}




.list-cell {
    -fx-font-size: 14px;
   	-fx-font-weight:bold;
}
.list-cell:hover {
    -fx-background-color: #909398;
}
.list-cel:selected{
	 -fx-background-color: #003360;
}
.combo-box {
	-fx-background-color: #FFFFFF;
    -fx-font-size: 17.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0px;
    -fx-pref-width: 200px;
}
.combo-box .list-view {
    -fx-pref-width: 170.0px;
}


.test-file-label{
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-text-fill:#ffffff;
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
	-fx-border-color:#ffffff;
	-fx-border-width:2px;
	-fx-alignment: center;
	-fx-padding:4px;
}









