@import url("Global.css");

.top-container{
	-fx-background-color: header-bg;
	-fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.companyName {
	-fx-font-size: 34px;
	-fx-font-weight: bold;
	-fx-text-fill: heading-text-color;
}
.companyNameSub{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: sub-text-color;
}