.top-container{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.companyName {
	-fx-font-size: 34px;
	-fx-font-weight: bold;
	-fx-text-fill: #0F1728;
	-fx-font-family: "Gabarito";
}
.companyNameSub{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: #444852;
}