#pane1
{
	-fx-background-color: transparent;
	-fx-border-color:black;
	-fx-border-width: 1;
}
#pane2
{
	-fx-background-color: #F2F2F2;
	-fx-border-color:black;
	-fx-border-width: 1;
}
#randomvibration{
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}
#hightemprature
{
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}
#lowtemprature{
	
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}
#humidity{
	
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}
#altitude
{
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}
#finalelectrical{
	-fx-background-color:  #F56E1E;
	-fx-text-fill:#ffffff;
}

#add{
	-fx-background-color: transparent;
	 -fx-border-color: black;
    -fx-border-width: 1;
}
#delete{
	-fx-background-color: transparent;
	 -fx-border-color: black;
    -fx-border-width: 1;
}
#test1{
	-fx-background-color: #66ffff;
}
#status{
	-fx-background-color: #66ffff;
}
#pcount{
	-fx-background-color: #66ffff;
}
#fcount{
	-fx-background-color: #66ffff;
}
