#runalltest1{
	
	-fx-background-image: url("/Resources/Images/u372.png");
	-fx-background-repeat:space;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
	
}

#runalltest2{
	
	-fx-background-image: url("/Resources/Images/u372.png");
	-fx-background-repeat:space;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
	
}
#Axis{
-fx-border-color: #f56e1e;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    }
    
 #runbutton{
	
	-fx-background-image: url("/Resources/Images/u372.png");
	-fx-background-repeat:space;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
	
}